.AboutPage {
    height: 100%;
    padding: 40px;
    background-color: var(--background);
}

.reasonBox, .purposeBox {
    padding: 50px 100px;
    color: white;
    background-color: var(--primary);
    border-radius: 40px;
    font-size: 25px;
    margin: 60px;
    box-shadow: 0 0 30px var(--secondary);
}

.purposeBox {
    margin-top: 60px;
}

