colors {
--text: rgb(0, 0, 0);
--background: rgb(153, 199, 181);
--primary: rgb(0, 36, 66);
--secondary: rgb(62, 117, 84);
--accent: rgb(101, 154, 133);

}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

body {
  background: rgb(153, 199, 181);
  background: linear-gradient(180deg, rgba(153, 199, 181, 1) 0%, rgba(0, 36, 66) 100%);
  margin-top: 0px;
  font-family: 'Jost', sans-serif;
}

#main {
  text-align: center;
  height: 100vh;
  padding: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#header {
  background-color: red;
  padding: 30px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#header h1 {
  font-size: 40px;
}

nav ul li {
  font-size: 30px;
  display: inline-block;
  margin: 0px 50px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
