
input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    width: 45%;
    font-size: 15px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin-top: 20px;
}


#chat_container {
    background-color: var(--primary);
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 30px;
}

/* adds profile pics above each message */
.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 10px;
  } 

  .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .chat {
    display: flex;
    align-items: flex-start;
  }

  .message {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    max-width: 70%;
    font-size: 20px;
  }

  .ai .message {
    align-self:flex-end;
    background-color: var(--accent);
    color: #fff;
    margin-left: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 20px;
  }

  .personality-selector {
    margin: 20px;
    margin-top: 0px;
    color: black;
    font-size: 35px;
  }

  .personality-selector select {
    padding: 10px;
    border-radius: 10px;
    margin: 0px 20px;
    font-size: 20px;
  }

  .personality-selector select option {
    padding: 10px;
    border-radius: 10%;
  }

  .personality-message {
    color: black;
    font-size: 25px;
    margin: 50px 300px;
  }

  #main {
    padding: 100px;
    height: 100vh;
    background-color: var(--background);
  }

  .userInputBox {
    border: none;
    
  }

  .enterButton {
    padding: 10px 20px;
    margin: 20px;
    border-radius: 20px;
    border: none;
    background-color: var(--primary);
    color: white;
    box-shadow: 0 0 10px var(--secondary);
  }