@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --text: rgb(0, 0, 0);
    --background: rgb(190, 215, 255);
    --primary: rgb(33, 68, 151);
    --secondary: rgb(11, 23, 50);
    --accent: rgb(74, 121, 231);
  }